/* .FormDiv{
    width: 50%;
    text-align: center;
    background-color: whitesmoke;
    float: left;
}
.form-label{
    
    float: left;
}


.img{
    float: right;
    width: 50%;
    text-align: center;
    margin-top: 15px;
    padding: 35px;
}

.registerimg {
    width: 600px;
    height: 500px;
} */